body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

.shadow {
    box-shadow: rgb(0, 0, 0, 0.1) 0px 4px 12px;
}

.container-logo {
    height: 30px;
    width: 30px;
}

.container-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.container-title h1 {
    font-size: 85px;
}

.character {
    display: flex;
    flex-direction: row; /* Cambiado a column para que info esté debajo */
    align-items: center; /* Centra contenido verticalmente */
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.character img {
    width: 200px; /* Ancho fijo */
    height: 200px; /* Alto fijo */
    object-fit: contain; /* Queda entera */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Mano al hover */
    border: 1px solid #ddd; /* Borde gris claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para la info del personaje */
.character-info {
    display: none; /* Oculto por defecto */
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif; /* Fuente nueva */
    line-height: 1.5; /* Espaciado para legibilidad */
    border: 1px solid #ddd; /* Borde para definición */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sombra ligera */
    width: 200px; /* Mismo ancho que la imagen para que quede alineado */
}

.show-info {
    display: block; /* Muestra al togguear */
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .character-info {
    background-color: #444; /* Fondo oscuro */
    border: 1px solid #555; /* Borde oscuro */
}

.dark-mode .character img {
    border: 1px solid #555; /* Ajuste borde en dark mode */
}

/* Estilo para el botón load-more */
#load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 2px solid orange;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo para el botón dark-mode */
#dark-mode {
    padding: 10px 20px;
    background-color: #000; /* Negro */
    color: #fff; /* Blanco */
    border: 2px solid red; /* Borde rojo */
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.dark-mode #dark-mode {
    background-color: #fff; /* Blanco en dark mode */
    color: #000; /* Texto negro */
    border: 2px solid orange; /* Borde naranja */
}